{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <p>
        あなたにはこれからランダムに他の {{ Constants.num_other_players }} 人の被験者とグループになり, それぞれ1つずつしかないある商品AとBのオークションに参加していただきます. 
        あなたが誰とグループになったかは公開されません. <strong>全員の所持金はそれぞれ {{ Constants.endowment }} とします. </strong>
    </p>
    <p>
        入札する前に, あなたはあなたにとっての
    </p>

    <ul>
        <li>商品Aだけを手に入れた時の価値</li>
        <li>商品Bだけを手に入れた時の価値</li>
        <li>商品AとBの両方を手に入れた時の価値</li>
    </ul>

    <p>
        を知ることができます. 商品の価値は被験者ごとに異なり, 商品AとBの価値は0から{{ Constants.half_endowment }}までの整数の中からランダムに, 商品AとBを同時に手に入れた時の価値は
    </p>

    <p style="text-align: center;">
        <strong>
            [(商品Aだけを手に入れた時の価値) + (商品Bだけを手に入れた時の価値)] から {{ Constants.endowment }} までの整数
        </strong>
    </p>

    <p>
        の中からランダムに, 被験者ごとに独立に選ばれます. 他の被験者にとっての商品の価値はあなたには知らされず, あなたにとっての商品の価値も他の被験者には知らされません.
    </p>

    <p>
        次にあなたはA, B, AとBの組, のそれぞれに対する入札額を決めます. 入札額は0から{{ Constants.endowment }}の範囲の整数で, 他の被験者には公開されません. 
        <strong>各商品は, 総落札額が最も高くなるような組み合わせの入札をした人がそれぞれ落札します. </strong> 最も高い落札額の組み合わせが複数あった場合は, 落札者の組をランダムに決定します. 
    </p>

    <p>
        落札者の支払額は, 
    </p>

    <p style="text-align: center;">
        <strong>(あなた以外の参加者で同じオークションをした時の, 落札者の落札した商品に対するbid額の合計)<br> - (今回のオークションにおける, あなた以外の落札者の落札した商品に対するbid額の合計)</strong>
    </p>
    <p>
        となり, 落札しなかった人はお金を払う必要はありません.
    </p>

    <p>
        あなた及び他の被験者の利得は, 落札した場合
    </p>
    <p style="text-align: center;">
        <strong>
            (落札した人の利得) = ({{ Constants.endowment }}) + (あなたにとっての商品の価値) - (支払額)
        </strong>
    </p>
    <p>
        となり, 落札しなかった場合は {{ Constants.endowment }} となります. 
    </p>
    <p>
        この説明は実験中常にページ下部に表示されます.
    </p>
    </div>
</div>
