{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <p>
        あなたにはこれからランダムに他の {{ Constants.num_other_players }} 人の被験者とグループになり, 1つしかないある商品Aのオークションに参加していただきます.
        あなたが誰とグループになったかは公開されません. <strong>全員の所持金はそれぞれ {{ Constants.endowment }} とします. </strong>
    </p>
    <p>
        入札する前に, あなたはあなたにとってのAの価値を知ることができます. Aの価値は被験者ごとに異なり, 0から{{ Constants.endowment }}までの整数の中からランダムに, 被験者ごとに独立に選ばれます. 他の被験者にとってのAの価値はあなたには知らされず, あなたにとってのAの価値も他の被験者には知らされません.
    </p>
    <p>
        次にあなたはAに対する入札額を決めます. 入札額は0から{{ Constants.endowment }}の範囲の整数で, 他の被験者には公開されません. 
        <strong>商品Aは最も入札額が高かった人が落札し, その人は2番目に高かった入札額を支払います.</strong> 最も高い額を入札した人が複数いた場合は, 落札者をランダムに決定し, 落札した人だけがその最も高い入札額を支払います. 
    </p>
    <p>
        あなた及び他の被験者の利得は, 落札した場合
    </p>
    <p style="text-align: center;">
        <strong>
            (落札した人の利得) = ({{ Constants.endowment }}) + (あなたにとってのAの価値) - (支払額, すなわち2番目に高い入札額)
        </strong>
    </p>
    <p>
        となり, 落札しなかった場合は {{ Constants.endowment }} となります. 
    </p>
    <p>
        この説明は実験中常にページ下部に表示されます.
    </p>
    </div>
</div>
